<!doctype html>
<title>Hello, World!</title>
<h1>Hello, your name is ?</h1>
<p></p>
<form action="/" method="POST">
 <label>D1_pulse:</label>
 <input type="textbox" name="D1_pulse"><br>

 <label>D2_pulse:</label>
 <input type="textbox" name="D2_pulse"><br>

 <label>D1_SPO2:</label>
 <input type="textbox" name="D1_SPO2"><br>

 <label>D2_SPO2:</label>
 <input type="textbox" name="D2_SPO2"><br>

 <label>D1_SBP:</label>
 <input type="textbox" name="D1_SBP"><br>

 <label>D2_SBP:</label>
 <input type="textbox" name="D2_SBP"><br>

 <label>D2_DBP:</label>
 <input type="textbox" name="D2_DBP"><br>

 <label>D2_PAW:</label>
 <input type="textbox" name="D2_PAW"><br>

 <label>D2_MAPS:</label>
 <input type="textbox" name="D2_MAPS"><br>

 <label>WBC:</label>
 <input type="textbox" name="WBC"><br>

 <label>PLT:</label>
 <input type="textbox" name="PLT"><br>

 <label>BUN:</label>
 <input type="textbox" name="BUN"><br>

 <label>NEUT:</label>
 <input type="textbox" name="NEUT"><br>

 <label>HGB:</label>
 <input type="textbox" name="HGB"><br>

 <label>ALB:</label>
 <input type="textbox" name="ALB"><br>

 <label>ALKP:</label>
 <input type="textbox" name="ALKP"><br>

 <label>BILT:</label>
 <input type="textbox" name="BILT"><br>

 <label>LACTATE:</label>
 <input type="textbox" name="LACTATE"><br>

 <label>PTP:</label>
 <input type="textbox" name="PTP"><br>

 <label>CREAT:</label>
 <input type="textbox" name="CREAT"><br>

 <label>Urine_D0:</label>
 <input type="textbox" name="Urine_D0"><br>

 <label>Urine_D1:</label>
 <input type="textbox" name="Urine_D1"><br>

 <label>Urine_D2:</label>
 <input type="textbox" name="Urine_D2"><br>

 <label>D0_temperature:</label>
 <input type="textbox" name="D0_temperature"><br>

 <label>D1_temperature:</label>
 <input type="textbox" name="D1_temperature"><br>

 <label>D2_temperature:</label>
 <input type="textbox" name="D2_temperature"><br>

 <label>D1_FIO2:</label>
 <input type="textbox" name="D1_FIO2"><br>

 <label>D2_FIO2:</label>
 <input type="textbox" name="D2_FIO2"><br>

 <input type="submit" value="Submit">
</form>